@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: content-box;
}

:root {
    --color-azul-gris: #7F9BB0;
    --color-gris: #778087;
    --color-celeste: #79B1DB;
    --color-gris-oscuro: #45525C;
    --color-negro: #1E2A33;
    --color-azul-oscuro: #152633;    

    --color-blanco: white;
    --color-texto-black: black;
}

h1 {
    font-size: 50px;
}

h2, h3 {
    font-size: 30px;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    background-color: var(--color-gris-oscuro);
}

header {
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 80px;
}


#crearAutos .input-group-text {
    min-width: 90px;
}

main {
    color: var(--color-blanco);
    padding: 30px;
}
main section {
    padding: 30px;
}

#resumen {
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    padding: 60px 60px 60px 150px;
}